<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/templateInitial}">
<head>
    <title>New Product</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="navbar navbar-inverse navbar-fixed-top" layout:fragment="custom-header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Cat Web app</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" th:href="@{/}">Home</a></li>
                    <li class="active"><a href="#" th:href="@{/product/new}">Product</a></li>
                    <li><a href="#" th:href="@{/order/new}">Order</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/logout" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Create new product</h2>
            </div>
        </div>
            <form class="form-horizontal" action="#" th:action="@{/product/save}" th:object="${product}" method="post">

                <div class="form-group">
                    <label th:text="#{msg.form.product.description}" class="col-sm-2 control-label"/>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{description}" class="form-control" th:errorclass="fieldError"/>
                    </div>
                </div>

                <div class="form-group">
                    <label th:text="#{msg.form.product.inventory}" class="col-sm-2 control-label"/>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{inventory}" class="form-control" th:errorclass="fieldError"/>
                    </div>
                </div>

                <div class="form-group">
                    <label th:text="#{msg.form.product.price}" class="col-sm-2 control-label"/>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{price}" class="form-control" th:errorclass="fieldError"/>
                    </div>
                </div>

                <div class="form-group">
                <input id="btnSubmit" class="btn btn-success" type="submit" value="Submit"/>
                </div>
            </form>
        </div>
    </div>
</div>

<footer>
    <p layout:fragment="custom-footer">
    <p>
</footer>
</body>
</html>